<h1>User List</h1>
<div class="table-filter">
  <input type="text" placeholder="Filter users" ng-model="query"/>
</div>
<div class="table-controls">
  <div class="table-pager">
    <span class="" ng-show="currentPage > 0"><a ng-click="previousPage()">&lt;&lt; Previous 10 users</a> |</span> Showing {{firstIndex}}-{{lastIndex}} of {{displayedUsersTotal}} users <span class="" ng-show="currentPage < numberOfPages">| <a ng-click="nextPage()">Next 10 users &gt;&gt;</a></span>
  </div>
  <div class="table-actions">
    <a class="btn btn-default" ng-click="showAddUserRow()">Add user</a>
  </div>
  <div class="clear"></div>
</div>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th ng-click="setOrder('lastname')">
			  Last Name
			  <div class="order-marker" ng-show="orderType=='lastname'">A</div>
			  <div class="order-marker" ng-show="orderType=='-lastname'">D</div>
			</th>
			<th ng-click="setOrder('firstname')">
			  First Name
        <div class="order-marker" ng-show="orderType=='firstname'">A</div>
        <div class="order-marker" ng-show="orderType=='-firstname'">D</div>
			</th>
			<th ng-click="setOrder('age')">
			  Age
        <div class="order-marker" ng-show="orderType=='age'">A</div>
        <div class="order-marker" ng-show="orderType=='-age'">D</div>
			</th>
			<th ng-click="setOrder('email')">
			  Email
        <div class="order-marker" ng-show="orderType=='email'">A</div>
        <div class="order-marker" ng-show="orderType=='-email'">D</div>
			</th>
			<th ng-click="setOrder('created_on')">
			  Created on
        <div class="order-marker" ng-show="orderType=='created_on'">A</div>
        <div class="order-marker" ng-show="orderType=='-created_on'">D</div>
			</th>
			<th ng-click="setOrder('last_edited')">
			  Last Edited
        <div class="order-marker" ng-show="orderType=='last_edited'">A</div>
        <div class="order-marker" ng-show="orderType=='-last_edited'">D</div>
			</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
	  <tr class="add-user-row" ng-show="isAddRowShown">
      <td><input type="text"/></td>
      <td><input type="text"/></td>
      <td><input type="text" size="3"/></td>
      <td><input type="text"/></td>
      <td></td>
      <td></td>
      <td><a class="btn" ng-click="hideAddUserRow()">Cancel</a></td>
	  </tr>
		<tr ng-repeat="user in displayedUsers">
			<td>{{user.lastname}}</td>
			<td>{{user.firstname}}</td>
			<td>{{user.age}}</td>
			<td>{{user.email}}</td>
			<td>{{user.created_on | date:'MM/dd/yyyy hh:mm:ss a'}}</td>
			<td>{{user.last_edited | date:'MM/dd/yyyy hh:mm:ss a'}}</td>
			<td>{{user.active ? 'Active' : 'Inactive'}}</td>
		</tr>
	</tbody>
</table>
